body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #272727;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 45px;
}

p {
  font-size: 30px;
}

.social {
  font-size: 64px;
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline-block;
}

i {
  color: #FFFFFF;
}