/***** Global *****/

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #272727;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif
}

header {
  margin-top: 47px;
}

header>h1 {
  font-size: 48px
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

/* Color Classes */

.color-about {
  background-color: #EAB757
}

.color-exp {
  background-color: #DB162F
}

.color-proj {
  background-color: #5F758E
}

.color-class {
  background-color: #383961
}

/* Profile Classes */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.profile-pic>img {
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 50px;
  background-color: #FFFFFF;
  transition: opacity 500ms ease-in-out 0ms;
}

.profile-pic>img.transparent {
  opacity: 0;
}

.profile-pic {
  position: relative;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom {
  position: relative;
}

/* Categories Classes */

.categories {
  list-style-type: none;
  display: inline-block;
  width: 190px;
  padding: 0px;
  transition: opacity 120ms ease-in-out 0ms;
}

.categories>li>.btn {
  font-size: 24px;
  width: 190px;
  color: #FFFFFF;
  border-radius: 30px;
  text-align: center;
  margin-top: 20px;
  transition: opacity 120ms ease-in-out 0ms;
}

.categories:hover>li>.btn {
  opacity: 0.5
}

.categories>li>.btn:hover {
  font-weight: bold;
  color: #FFFFFF;
  opacity: 1;
}

.categories>li>.btn.selected {
  font-weight: bold;
  opacity: 1;
}

/* Social Classes */

.social {
  font-size: 48px;
  list-style-type: none;
  padding-left: 0px;
  transition: opacity 120ms ease-in-out 0ms;
}

.social:hover>.social-item {
  opacity: 0.5
}

.social:hover>.social-item:hover {
  opacity: 1
}

.social-item {
  display: inline-block;
  transition: opacity 120ms ease-in-out 0ms;
}

@media (max-width: 320px) { /* For the iPhone 5/SE */
  header>h1 {
    font-size: 36px; 
  }

  .social {
    font-size: 36px;
  }
}

/***** Index *****/

@media (min-width: 768px) { /* For big displays */
  .main header>h1 {
    font-size: 64px;
  }
  .main .profile-pic>img {
    width: 384px;
    height: 384px;
    padding: 25px;
    z-index: 1;
  }
  .main .profile {
    flex-direction: row
  }
  .main .social {
    font-size: 64px;
  }
  .main .categories>li>.btn {
    text-align: left;
    margin: 10px 0 10px -50px;
    padding-left: 1.5em;
  }
}

/***** Sidebar *****/

#sidebar {
  width: 400px;
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#content {
  margin-left: 400px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: auto;
}

.description {
  font-size: 24px;
  text-align: left;
  margin-bottom: 50px;
}

@media screen and (max-width: 950px) {
  .description {
    font-size: 20px;
  }
}

/* Display for Mobile */
@media screen and (max-width: 750px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #content {
    margin-left: 0;
  }
}

.about-content {
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
}

.about-item {
  font-size: 30px;
  margin-bottom: 10px;
  display: block;
}

.icon {
  width: 50px;
  text-align: center;
  display: inline-block;
}

.icon-desc {
  display: inline
}

.main a {
  color: #FFFFFF;
}

@media screen and (max-width: 700px) {
  .about-item {
    font-size: 20px;
  }
  .icon {
    width: 30px
  }
}