body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #272727;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif
}

header {
  margin-top: 47px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For normal desktops */
@media only screen and (min-width: 769px) {
  .name {
    font-size: 64px;
  } 

  .profile-pic > img {
    width: 384px;
    height: 384px;
    padding: 25px;
    z-index: 1;
  }

  .social {
    font-size: 64px;
  }

  .categories > li > .btn {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -25px;
    padding-left: 1.5em;
  }
}

/* For mobile */
@media only screen and (max-width: 768px) {
  .name {
    font-size: 48px
  } 

  .profile {
    flex-direction: column
  }

  .profile-pic > img {
    width: 200px;
    height: 200px;
    padding: 15px;
  }

  .social {
    font-size: 48px
  }

  .categories > li > .btn {
    text-align: center;
    margin-top: 20px;
  }
}

.profile-pic > img {
  border-radius: 50px;
  background-color: #FFFFFF;
  transition: opacity 500ms ease-in-out 0ms;
}

.profile-pic > img.transparent {
  opacity: 0;
}

.profile-pic {
  position: relative;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom {
  position: relative;
}

.social {
  list-style-type: none;
  padding-left: 0px;
  transition: opacity 120ms ease-in-out 0ms;
}

.social:hover > .social-item {
  opacity: 0.5
}

.social:hover > .social-item:hover {
  opacity: 1
}

.social-item {
  display: inline-block;
  transition: opacity 120ms ease-in-out 0ms;
}

.social-item > a > i {
  color: #FFFFFF;
}

.categories {
  list-style-type: none;
  display: inline;
  padding: 0px;
  transition: opacity 120ms ease-in-out 0ms;
}

.categories > li > .btn {
  font-size: 24px;
  width: 190px;
  color: #FFFFFF;
  border-radius: 30px;
  transition: opacity 120ms ease-in-out 0ms;
}

.categories:hover > li > .btn {
  opacity: 0.5
}

.categories > li > .btn:hover {
  font-weight: bold;
  color: #FFFFFF;
  opacity: 1;
}

.categories > li > .btn.selected {
  font-weight: bold;
  opacity: 1;
}

.btn-about {
  background-color:#EAB757
}

.btn-exp {
  background-color:#DB162F
}

.btn-proj {
  background-color:#5F758E 
}

.btn-class {
  background-color:#383961 
}