/* Socials Classes */
.socials {
  font-size: 48px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  transition: opacity 120ms ease-in-out 0ms;
}

.socials:hover > .social-item {
  opacity: 0.5;
}

.socials:hover > .social-item:hover {
  opacity: 1;
}

.social-item {
  display: inline-block;
  margin: 10px;
  transition: opacity 120ms ease-in-out 0ms;
}