html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #272727;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
